<%-include ../partials/header.ejs%>
<%-include ../partials/main_nav.ejs%>
<!--Content for the Add Page-->
<div class="mainContainer">
    <div class="container">
        <div class="row">
            <div class="offset-md-7 col-md-5">
            <h1 class="fw-light"><span class="PageTitle"><%=title%></span></h1>
            <span class="TournamentDetailsDescription">
            Tournament name:&emsp;<%=tournament.name%>
            <br>
            Descriptions:&emsp;<%=tournament.description%>
            <br>
            Status:&emsp;<%=tournament.status.toUpperCase()%>
            <br>
            <% if(tournament.round == 4) {%>
                The tournament is completed!
            <%} else {%>
                The tournament is currently in round:&emsp;<%=tournament.round%>
            <%}%>
            </span>
            <hr>
            <%  if(tournament.status=='active'){
                    let numOfWinner=0;
                    let roundWinner='round'+tournament.round+'Winner';
                    if(players.length > 0) {%>
                    <h3 class="fw-light"><span class="TournamentStatusTitle"><%=tournament.round == 1?'Players in quarter finals':tournament.round == 2?'Players in semi-final':tournament.round == 3?'Players in final round':'The Winner is:'%></span></h3>
                    <ul class="TournamentPlayerText">
                    <% let isFinishMatch;                
                        for(let i=0; i<players.length; i++) { %>
                        <li>Position <%= i+1 %>:&emsp;<%= players[i].playername %>&emsp;
                        <%if (players[i][roundWinner]) {numOfWinner++;%>WON<%}%>
                        <% if (tournament.round != 4) {%>
                            <% if (i%2 == 0){                        
                                if (players[i][roundWinner] || players[i+1][roundWinner]){
                                    // not finish match
                                    isFinishMatch = true;
                                }else{isFinishMatch = false;}
                            }%>
                            <%if (!(isFinishMatch) && typeof displayName =='string'&&displayName){
                                if (tournament.userID == user._id) {%>
                            <a href="/tournamentList/details/Promo/<%=tournament.round%>/<%=tournament._id%>/<%=players[i].id%>" class="btn btn-sm btn-secondary">Promote</a>
                            <%}}%>
                        <%}%>
                        </li>
                    <% } %>
                    </ul>
                <% } else { %>
                    <p>No players found for this tournament.</p>
                <% } %>
                <br><%if ((tournament.round==1 && numOfWinner==4) || (tournament.round==2 && numOfWinner==2) || (tournament.round==3 && numOfWinner==1)){%><a href="/tournamentList/details/<%=(tournament.round+1)%>/<%=tournament._id%>" class="btn btn-primary">Next Round<i class="fas fa-chevron-right"></i><%}%></a>
            <% } %>
            <a href="/home" class="btn btn btn-secondary">Back to Home</a>
            <%if(typeof displayName =='string'&&displayName){%>
                &emsp;<a href="/tournamentList" class="btn btn-warning">Back to My Tournament</a>
            <%}%>
            <hr>
            </div>
            
        </div>
        
        <div class="TournamentTree">
            <div><div><img src="/Assets/images/winner.png" width="48" height="48"></div></div>
            <div class="TournamentTreeRow" style="padding-top: 0px;">                
                <%let finalWinner=false;
                for(let i=0; i<allPlayers.length; i++) {
                    if(allPlayers[i].round3Winner && allPlayers[i].round2Winner && allPlayers[i].round1Winner){
                        finalWinner=true;%>
                    <div class="TournamentTreeCellCol1"><div class="TournamentCard"><img src="/Assets/images/player.png" width="20" height="20"><br><%=allPlayers[i].playername%></div></div>

                <%}
                }
                if (!(finalWinner)){%>
                    <div class="TournamentTreeCellCol1"><div class="TournamentCard"><img src="/Assets/images/player.png" width="20" height="20"><br>[Match Winner]</div></div>
                <%}
                %>
            </div>
            <div class="TournamentTreeRow"><div class="TournamentTreeCellCol1"><img src="/Assets/images/2line.png" width="100%" height="30px"></div></div>
            <div class="TournamentTreeRow">
                <%for(let i=0; i<allPlayers.length; i+=4) {
                    if(allPlayers[i].round2Winner||allPlayers[i+1].round2Winner||allPlayers[i+2].round2Winner||allPlayers[i+3].round2Winner){
                        if(allPlayers[i].round2Winner){%>
                    <div class="TournamentTreeCellCol2"><div class="TournamentCard"><img src="/Assets/images/player.png" width="20" height="20"><br><%=allPlayers[i].playername%></div></div>
                <%      }else if (allPlayers[i+1].round2Winner){%>
                    <div class="TournamentTreeCellCol2"><div class="TournamentCard"><img src="/Assets/images/player.png" width="20" height="20"><br><%=allPlayers[i+1].playername%></div></div>
                        <%}else if (allPlayers[i+2].round2Winner){%>
                    <div class="TournamentTreeCellCol2"><div class="TournamentCard"><img src="/Assets/images/player.png" width="20" height="20"><br><%=allPlayers[i+2].playername%></div></div>
                        <%}else if (allPlayers[i+3].round2Winner){%>
                    <div class="TournamentTreeCellCol2"><div class="TournamentCard"><img src="/Assets/images/player.png" width="20" height="20"><br><%=allPlayers[i+3].playername%></div></div>
                        <%}
                    }else{%>
                    <div class="TournamentTreeCellCol2"><div class="TournamentCard"><img src="/Assets/images/player.png" width="20" height="20"><br>[Match Winner]</div></div>
                <%  }
                }%> 

            </div>
            <div class="TournamentTreeRow"><div class="TournamentTreeCellCol1"><img src="/Assets/images/4line.png" width="100%" height="30px"></div></div>
            <div class="TournamentTreeRow">
                <%for(let i=0; i<allPlayers.length; i+=2) {
                    if(allPlayers[i].round1Winner||allPlayers[i+1].round1Winner){
                        if(allPlayers[i].round1Winner){%>
                    <div class="TournamentTreeCellCol4"><div class="TournamentCard"><img src="/Assets/images/player.png" width="20" height="20"><br><%=allPlayers[i].playername%></div></div>
                <%      }else{%>
                    <div class="TournamentTreeCellCol4"><div class="TournamentCard"><img src="/Assets/images/player.png" width="20" height="20"><br><%=allPlayers[i+1].playername%></div></div>
                        <%}
                    }else{%>
                    <div class="TournamentTreeCellCol4"><div class="TournamentCard"><img src="/Assets/images/player.png" width="20" height="20"><br>[Match Winner]</div></div>
                <%  }
                }%>            
            </div>
            <div class="TournamentTreeRow"><div class="TournamentTreeCellCol1"><img src="/Assets/images/8line.png" width="100%" height="30px"></div></div>
            <div class="TournamentTreeRow">
                <%for(let i=0; i<allPlayers.length; i++) {%>
                    <div class="TournamentTreeCellCol8"><div class="TournamentCard"><img src="/Assets/images/player.png" width="20" height="20"><br><%=allPlayers[i].playername%></div></div>
                <%}%>
            </div>
        </div>
    </div>
</div>


 <%-include ../partials/bottom_nav.ejs%>
 <%-include ../partials/footer.ejs%>