<%-include ../partials/header.ejs%>
<%-include ../partials/main_nav.ejs%>
<!--Content for the Add Page-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
        <h1><%=title%></h1>
        Tournament name:&emsp;<%=tournament.name%>
        <br>
        Descriptions:&emsp;<%=tournament.description%>
        <br>
        Status:&emsp;<%=tournament.status.toUpperCase()%>
        <br>
        <% if(tournament.round == 4) {%>
            The tournament is completed!
        <%} else {%>
            The tournament is currently in round:&emsp;<%=tournament.round%>
        <%}%>

        <%  if(tournament.status=='active'){
                let numOfWinner=0;
                let roundWinner='round'+tournament.round+'Winner';
                if(players.length > 0) {%>
                <h3><%=tournament.round == 1?'Players in quarter finals':tournament.round == 2?'Players in semi-final':tournament.round == 3?'Players in final round':'The Winner is:'%></h3>
                <ul>
                <% let isFinishMatch;                
                    for(let i=0; i<players.length; i++) { %>
                    <li>Position <%= i+1 %>:&emsp;<%= players[i].playername %> 
                    <%if (players[i][roundWinner]) {numOfWinner++;%>WON<%}%>
                    <% if (tournament.round != 4) {%>
                        <% if (i%2 == 0){                        
                            if (players[i][roundWinner] || players[i+1][roundWinner]){
                                // not finish match
                                isFinishMatch = true;
                            }else{isFinishMatch = false;}
                        }%>
                        <%if (!(isFinishMatch)){%>
                        <a href="/tournamentList/details/Promo/<%=tournament.round%>/<%=tournament._id%>/<%=players[i].id%>" class="btn btn-primary">Promote</a>
                        <%}%>
                    <%}%>
                    </li>
                <% } %>
                </ul>
            <% } else { %>
                <p>No players found for this tournament.</p>
            <% } %>
            <br><br><%if ((tournament.round==1 && numOfWinner==4) || (tournament.round==2 && numOfWinner==2) || (tournament.round==3 && numOfWinner==1)){%><a href="/tournamentList/details/<%=(tournament.round+1)%>/<%=tournament._id%>" class="btn btn-primary">Next Round<i class="fas fa-chevron-right"></i><%}%></a>
        <% } %>        
        
        <br><a href="/tournamentList" class="btn btn-warning"><i class="fas fa-undo"></i>Back</a>
        </div>
    </div>
    <br><br>
    <div class="TournamentTree">
        <div class="TournamentTreeRow">
            <%let finalWinner=false;
            for(let i=0; i<allPlayers.length; i++) {
                if(allPlayers[i].round3Winner && allPlayers[i].round2Winner && allPlayers[i].round1Winner){
                    finalWinner=true;%>
                <div class="TournamentTreeCellCol1"><%=allPlayers[i].playername%></div>

            <%}
            }
            if (!(finalWinner)){%>
                <div class="TournamentTreeCellCol1">[Match Winner]</div>
            <%}
            %>
        </div>
        <div class="TournamentTreeRow">
            <%for(let i=0; i<allPlayers.length; i+=4) {
                if(allPlayers[i].round2Winner||allPlayers[i+1].round2Winner||allPlayers[i+2].round2Winner||allPlayers[i+3].round2Winner){
                    if(allPlayers[i].round2Winner){%>
                <div class="TournamentTreeCellCol2"><%=allPlayers[i].playername%></div>
            <%      }else if (allPlayers[i+1].round2Winner){%>
                <div class="TournamentTreeCellCol2"><%=allPlayers[i+1].playername%></div>
                    <%}else if (allPlayers[i+2].round2Winner){%>
                <div class="TournamentTreeCellCol2"><%=allPlayers[i+2].playername%></div>
                    <%}else if (allPlayers[i+3].round2Winner){%>
                <div class="TournamentTreeCellCol2"><%=allPlayers[i+3].playername%></div>
                    <%}
                }else{%>
                <div class="TournamentTreeCellCol2">[Match Winner]</div>
            <%  }
            }%> 

        </div>
        <div class="TournamentTreeRow">
            <%for(let i=0; i<allPlayers.length; i+=2) {
                if(allPlayers[i].round1Winner||allPlayers[i+1].round1Winner){
                    if(allPlayers[i].round1Winner){%>
                <div class="TournamentTreeCellCol4"><%=allPlayers[i].playername%></div>
            <%      }else{%>
                <div class="TournamentTreeCellCol4"><%=allPlayers[i+1].playername%></div>
                    <%}
                }else{%>
                <div class="TournamentTreeCellCol4">[Match Winner]</div>
            <%  }
            }%>            
        </div>
        <div class="TournamentTreeRow">
            <%for(let i=0; i<allPlayers.length; i++) {%>
                <div class="TournamentTreeCellCol8"><%=allPlayers[i].playername%></div>
            <%}%>
        </div>
    </div>
</div>



 <%-include ../partials/bottom_nav.ejs%>
 <%-include ../partials/footer.ejs%>