<%-include ../partials/header.ejs%>
<%-include ../partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
<div class="mainContainer">
<main class="container">
  <div class="row">
    <div class="listtable">
        <h1 class="fw-light"><span class="PageTitle"><%=title %></span></h1>
        <%if(typeof displayName =='string'&&displayName){%>
            <br><a href="/tournamentList/add" class="btn btn-secondary" role="button">Add a Tournament</a>
        <%}%>
        <br>
        <%if(typeof displayName =='string'&&displayName){%>
        <br>
        <table class="table table-bordered">
            <!--Header Row-->
            <tr>
                <th class="text-center col-2">Name</th>
                <th class="col-6">Description</th>
                <th class="text-center col-1">Round</th>
                <th class="text-center col-1">Status</th>
                <th class="text-center col-1">Details</th>
                <th class="text-center col-1">Edit</th>
                <th class="text-center col-1">Delete</th>
                </tr>
               <%for(let count = 0; count < TournamentList.length; count ++){%>
                    <tr>
                      <%if (TournamentList[count].userID == user[0]._id) {%>
                        <td class="text-center col-2"><%=TournamentList[count].name%></td>
                        <td class="col-6"><%=TournamentList[count].description%></td>
                        <td class="text-center col-1"><%=TournamentList[count].round == 1?'Quarter final':TournamentList[count].round == 2?'Semi-final':TournamentList[count].round == 3?'Final':'Finished'%></td>
                        <td class="text-center col-1"><%=TournamentList[count].status%></td>
                        <td class="text-center col-1"><a href="/tournamentList/details/<%=TournamentList[count].round%>/<%=TournamentList[count]._id%>" class="btn btn-secondary">Details</a></td>
                   
                        <td class="text-center col-1"><a href="/tournamentList/edit/<%=TournamentList[count]._id%>" class="btn btn-secondary">Edit</a></td>
                        <td class="text-center col-1"><a href="/tournamentList/delete/<%=TournamentList[count]._id%>" class="btn btn-danger">Delete</a></td>
                      <%}%>
                    </tr>
                <%}%> 
            </table>
            <%} else {%>
              <span class="PageDescription">Please log in.</span>
            <%}%>
        </div>
    </div>
  </main>
</div>  

<%-include ../partials/bottom_nav.ejs%>
 <%-include ../partials/footer.ejs%>




